---

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>About Santi</title>
	</head>
	<a class="text-red-600" href="/">HomePage</a>
	<body class="bg-black">
		
		<h1 class="text-center text-6xl text-orange-500">About Santi</h1>
        <div class="carousel carousel-center rounded-box">

			<div class="carousel-item">
			  <img src="../images/santi2.jpeg" alt="santi">
			</div> 
			<div class="carousel-item">
                <img src="../images/santi3.jpeg" alt="santi">
            </div> 
			<div class="carousel-item">
                <img src="../images/santi4.jpeg" alt="santi">
            </div> 
			<div class="carousel-item">
				<img src="../images/santi5.jpeg" alt="santi">
			</div>
		  </div>
		  <style>
			img {
				width: 500px;
				height: 500px;
			}
		  </style>
		
		<p class="text-center text-4xl  text-orange-500">Santi is a 24 year old Home Depot Sprinkler Specialist 
			and he likes to spend his time gambling</p>
		<p class="text-center text-4xl  text-orange-500">He also likes to play video games and watch anime</p>
		
		
		
	</body>
</html>
