---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Santi</title>
	</head>
	<body class="bg-black">
		
		<h1 class="text-center text-6xl text-orange-500">Santi Home Depot Sprinkler Specialist</h1>
		
		<img class="mx-auto" src="../images/santi.jpg" alt="santi">
		
		<p class="text-center text-4xl  text-orange-500">Future 24 year old Home Depot Manager</p>
		
	</body>
</html>
